---
layout: default
title: Home
updated: 2018-11-23 16:34:18 +0100
---

<img id="img" src="https://dl.dropboxusercontent.com/s/h589754z3ow8jbp/animated_plume.gif" width="400" height="300" align="top">
<canvas id="c" width="400" height="300" onclick="toggleCanvas()" style="cursor: pointer;"></canvas>
<p id="txt">Smoke Plume with Wavelet Turbulence. Simulated with Mantaflow, rendered in Cycles (2016).</p>

{% for category in site.categories %}
  {% assign cat = category | first %}
  <h3>New {{ cat }}</h3>
  <ul>
  {% for post in site.categories[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}

<script>

var img = document.getElementById("img");
var txt = document.getElementById("txt");
var c = document.getElementById("c");
var ctx = c.getContext("2d");
var timer;
var imgOpacity = 1.0;
var clickCnt = 0;
var clickThresh = 7;

// Redraw canvas every 60ms
const updateInterval = 60;

// Position canvas on top of image
c.style.position = "absolute";
c.style.left = img.offsetLeft + "px";
c.style.top = img.offsetTop + "px";

function toggleCanvas()
{
    clickCnt += 1;

    // Update text
    if (clickCnt == clickThresh) {
        txt.textContent = "You found the 'Matrix' easter egg! Enjoy the simulations on this site!";
    }
    else if (clickCnt > clickThresh-4) {
        const clicksAway = clickThresh - clickCnt;
        const clickStr = clicksAway == 1 ? " click" : " clicks";
        txt.textContent = "You're " + clicksAway + clickStr + " away from unlocking the easter egg!"
    }
    else {
        txt.textContent = "Smoke Plume with Wavelet Turbulence. Simulated with Mantaflow, rendered in Cycles (2016).";
    }

    // Update main image and matrix canvas
    if (clickCnt < clickThresh) {
        timer = clearInterval(timer);
        ctx.clearRect(0, 0, c.width, c.height);
        // Ensure full opacity
        imgOpacity = 1.0;
        img.style.opacity = imgOpacity;
    }
    else {
        clickCnt = 0;
        // Only draw matrix once, on first button click
        if (typeof timer === 'undefined') {
            timer = setInterval(drawMatrix, updateInterval);
        }
    }
}

// Which font (type + size) to use for chars
const fontSize = 10;
const fontType = "Times"
ctx.font = fontSize + "px " + fontType;

// Array of chars to display - and yes, only chars from "Blender Mantaflow" ;)
const chars = "BLENDRMATFLOW".split("");
const numColumns = c.width/fontSize;

// Array which indicates current y position in every column
var colPositions = [];

// Inital position for each char below canvas in order to trigger position reset in loop
for (var x = 0; x < numColumns; x++) {
    colPositions[x] = c.height + 1;
}

// Draw matrix-style characters
function drawMatrix()
{
    // Position canvas on top of image
    c.style.position = "absolute";
    c.style.left = img.offsetLeft + "px";
    c.style.top = img.offsetTop + "px";

    // Clear canvas to white but leave some translucency (fade out effect)
    ctx.fillStyle = "rgba(255, 255, 255, 0.1)";
    ctx.fillRect(0, 0, c.width, c.height);

    // Also fade out background image
    img.style.opacity = imgOpacity;

    // Set new char in every column and increase column position for char from next loop
    for (var i = 0; i < colPositions.length; i++)
    {
        // Get a random char from char array
        var ch = chars[Math.floor(Math.random() * chars.length)];

        // Let character "stand out", ie. give random chars more translucency
        var trans = (Math.random() > 0.98) ? 1.0 : 0.4;
        ctx.fillStyle = "rgba(0, 0, 0, " + trans + ")";

        // Draw this char at position (x=i*fontSize, y=colPositions[i]*fontSize)
        ctx.fillText(ch, i * fontSize, colPositions[i] * fontSize);

        // Reset column position to 0, ie. at top of canvas
        if (colPositions[i] * fontSize > c.height && Math.random() > 0.95) {
            colPositions[i] = 0;
        }

        // Increase position of char in column by 1
        colPositions[i]++;
    }

    // Decrease background image opacity gradually
    imgOpacity -= 0.05;
    Math.max(0.0, Math.min(1.0, imgOpacity));
}
</script>
