---
layout: default
title: Home
updated: 2018-07-23 12:00:30 +0200
---

<img src="https://dl.dropboxusercontent.com/s/h589754z3ow8jbp/animated_plume.gif" alt="Blender Mantaflow smoke" height="240" width="320">
<p>Visit <a href="https://en.blender.org/index.php/User:Sebbas">https://en.blender.org/index.php/User:Sebbas</a> to find out more about this plume</p>
<!-- <img src="https://dl.dropboxusercontent.com/s/4j2vvoj3et0jwnr/animated_cube_torus.gif" alt="Blender Mantaflow liquid" height="270" width="480"> -->
<!-- <p>Visit <a href="https://en.blender.org/index.php/User:Sebbas">https://en.blender.org/index.php/User:Sebbas</a> to find out more about this cube</p> -->

{% for category in site.categories %}
  {% assign cat = category | first %}
  <h3>New {{ cat }}</h3>
  <ul>
  {% for post in site.categories.[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}
