---
layout: default
title: Home
updated: 2018-11-22 23:45:16 +0100
---

<img id="teaser_img" src="https://dl.dropboxusercontent.com/s/h589754z3ow8jbp/animated_plume.gif" alt="Blender Mantaflow smoke" height="300" align="top">

<p id="teaser_txt" style="visibility:hidden;">Sorry, only simulations on this page. <a href="https://www.youtube.com/watch?v=zQ1_IbFFbzA">Follow Neo</a> for the red pill.</p>

<p>
  <input type="button" value="Blue pill" onClick="takePill('blue')"/>
  <input type="button" value="Red pill" onClick="takePill('red')"/>
</p>

{% for category in site.categories %}
  {% assign cat = category | first %}
  <h3>New {{ cat }}</h3>
  <ul>
  {% for post in site.categories[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}

<script>
function takePill(pillColor) {
    var img = document.getElementById("teaser_img");
    var txt = document.getElementById("teaser_txt");
    if (pillColor === 'blue') {
        img.style.visibility = "visible";
        txt.style.visibility = "hidden";
    }
    if (pillColor === 'red') {
        img.style.visibility = "hidden";
        txt.style.visibility = "visible";
    }
}
</script>
